h1{
    width: auto;
    margin: 1em;
    text-align: center;
}

a{
	width: auto;
    margin: 1em;
    text-align: center;
}

.text_box{
    margin: auto;
    width: 25%;
    padding: 2em;
    background: Blue;
    color: white;
}

.form_box{
    margin: auto;
    width: 50%;
    padding: 2em;
}
